/* Type or Element Selector */

h1 {
    color: rgb(150, 20, 20);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    color: rgb(75, 46, 53);
}

li {
    font-weight: 800;
    font-size: 40px;
    padding-left: 10px;
    margin-left: auto;
 
}

a {
    color: rgb(156, 19, 65);
    font-size: 50px;
    text-underline-offset:unset ;
}

/* Class Selector */

.header {

    font-size: 70px;
}